body {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}
.top{
 
}
#container{
  background-color: white;
}

.navbar {
  color: #fff;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  display: inline-flex;
  align-items: flex-start;
  gap: 40.75rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

li {
  margin-right: 20px;
}

/* Style the "mylogo" link separately */
li:first-child a {
  text-decoration: none;
  color: #0073e6; 
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: bold;
  margin-right: 1200px;
}

/* Style the rest of the links */
li:not(:first-child) a {
  text-decoration: none;
  color: #000; /* Black color for the rest of the links */
}


.bg img{
  position: absolute;
  margin-top: 10px;
  z-index: -1;
  display: flex;
  width: 100%;
  background-color: white;
  margin-top: 20px white;
}

.text {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 390px;
  right: 20px;
  left: 420px;
  color: black;
}

.headline {
  color: rgb(0, 0, 28);
  line-height: 52px;
  font-size: 18px;
}

.paragraph {
  width: 50%;
  line-height: 24px;
  font-size: 16px;
}

.bottom-line {
  color: rgb(56, 147, 244);
}

.icon {
  position: absolute;
  left: 420px;
  top: 660px;
  z-index: 6;
}
  
  .container2{
  width: 789px;
  align-items: center;
  margin-top: 1200px;
  margin-left: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 20px; /* Add rounded corners */
  padding-top: 5px;
  padding: 50px;
  border: 1px solid gray;
  background-color: white; /
  }

  .portfolio1{
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .portfolio1 img{
    box-sizing: border-box;
    width: 375px;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .porttext h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 35px;
  }

  .porttext{
    margin-top: 0;
    padding: 0;
    width: 300px;
  }

  .porttext img{
    margin-left: 10px;
  }

  .porttext p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 40px;
    text-align: left;
  }


  .porttext button {
    width: 140px;
    height: 30px;
    top: 11px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 35px; 
    color: blue;
    font-size: 17px;
    cursor: pointer;
    margin-right: 20px;
  }

.porttext button:hover {
  background-color: blue;
  color: white;
}

.container3{
  margin-top: 130px;
  align-items: center;
  width: 789px;
  align-items: center;
  margin-left: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 20px; /* Add rounded corners */
  padding-top: 5px;
  padding: 50px;
  border: 1px solid gray;
  background-color: white; /
}


.storytext h1{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: left;
  margin-left: 35px;
}

.storytext{
  margin-top: 0;
  padding: 0;
  width: 300px;
}


.storytext p{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-left: 40px;
  text-align: left;
}
.story img{
  margin-left: 150px;
}
.storytext button {
  width: 140px;
  height: 30px;
  top: 11px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px; 
  color: blue;
  font-size: 17px;
  cursor: pointer;
  margin-right: 20px;
}

.storytext button:hover {
background-color: blue;
color: white;
}
.container4{
  margin-top: 130px;
  width: 789px;
  align-items: center;
  margin-left: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 20px; /* Add rounded corners */
  padding-top: 5px;
  padding: 50px;
  border: 1px solid gray;
  background-color: white; 
}

.portfolio2{
  text-align: center;
  padding: 0;
  margin: 0;
}

.portfolio2 img{
  box-sizing: border-box;
  width: 375px;
  height: auto;
  padding: 0;
  margin: 0;
}

.porttext2 h1{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: left;
  margin-left: 35px;
}

.porttext2{
  margin-top: 0;
  padding: 0;
  width: 300px;
}

.porttext2 img{
  margin-left: 10px;
}

.porttext2 p{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-left: 40px;
  text-align: left;
}


.porttext2 button {
  width: 140px;
  height: 30px;
  top: 11px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px; 
  color: blue;
  font-size: 17px;
  cursor: pointer;
  margin-right: 20px;
}

.porttext2 button:hover {
background-color: blue;
color: white;
}

.container5{
  margin-top: 130px;
  align-items: center;
  width: 789px;
  align-items: center;
  margin-left: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-radius: 20px; /* Add rounded corners */
  padding-top: 5px;
  padding: 50px;
  border: 1px solid gray;
  background-color: white; /
}

.storytext2 h1{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: left;
  margin-left: 35px;
}

.storytext2{
  margin-top: 0;
  padding: 0;
  width: 300px;
}


.storytext2 p{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-left: 40px;
  text-align: left;
}
.story2 img{
  margin-left: 150px;
}
.storytext2 button {
  width: 140px;
  height: 30px;
  top: 11px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px; 
  color: blue;
  font-size: 17px;
  cursor: pointer;
  margin-right: 20px;
}

.storytext2 button:hover {
background-color: blue;
color: white;
}

.container6{
  margin-top: 90px;
  align-items: center;
  width: 789px;
  align-items: center;
  margin-left: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.about-1{
  width: 500px;
}

.about-1 h1{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: left;
  margin-left: 35px;
}

.about-1 p{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-left: 40px;
  text-align: left;
}

.about-1 .p2{
  color: blue;
}

.about-1 img{
  margin-top: 20px;
}

.about-1 button {
  max-width: 150px;
  height: 20px;
  top: 11px;
  background-color: white;
  border: 1px solid blue;
  color: blue;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px; 
  margin-top: 20px;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
}

.about-1 button:hover {
background-color: blue;
color: white;
}
.language{
  width: 500px;
}
.language p{
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  margin-left: 50px;
  text-align: left;
}

.language img{
  margin-left: 35px;
}

.language pre{
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  margin-left: 50px;
}

.language hr{
  color: gray;
  width: 90%;
  margin: 10px auto;
}

.container7 {
  margin-top: 120px;
  width: 100%;
  background-image: url(images/contactbg.jpg);
}

.contact-form img{
  position: absolute;
  z-index: -1;
  width: 100%;
}

.c1 img{
  position: absolute;
  z-index: 1;
  margin-top: 30px;
  right: 0;
  width: 250px;
  height: 760px
}

.c2 {
  position: relative;
  align-items: center;
  margin-left: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
} 

.c2 h1{
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: white;
  margin-left: 390px;
  position: absolute;
  top: 90px;
}

.c2 p{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  top: 170px;
  width: 400px;
  margin-left: 300px;
}
.c-form {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 320px;
  flex-direction: column;
  text-align: center;
  top: 350px;
  margin-left: 40px; /* Adjust this value as needed */
}

.form-group {
  margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  height: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.form-group textarea {
  height: 90px; /* Adjust as needed */
}

button[type="submit"] {
  background-color: white;
  color:blue;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width:786px){
  .body {
    position: absolute;
    width: 375px;
    margin: 0;
    padding: 0;
  }

  .text {
    width: 375px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 130px;
    right: 20px;
    left: 20px;
    color: black;
  }
  
.headline {
    color: rgb(0, 0, 28);
    line-height: 52px;
    font-size: 18px;
  }
  
.paragraph {
    width: 375px;
    line-height: 24px;
    font-size: 16px;
  }
  
.bottom-line {
    color: rgb(56, 147, 244);
  }
  
.icon {
    position: absolute;
    left: 20px;
    top: 460px;
    z-index: 6;
  }

  .container2{ 
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 800px;
    margin-left: -10px;
  }

  .portfolio1{
    
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .portfolio1 img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .porttext h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 35px;
  }

  .porttext{
    margin-top: 0;
    padding: 0;
    width: 300px;
  }

  .porttext p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 40px;
    text-align: left;
  }

  .container3{ 
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 300px;
    margin-left: -10px;
  }

  .story{
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .story img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .storytext h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 35px;
  }

  .storytext{
    margin-top: 0;
    padding: 0;
    width: 300px;
  }

  .storytext p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 40px;
    text-align: left;
  }

  .container4{ 
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 800px;
    margin-left: -10px;
  }

  .portfolio2{
    
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .portfolio2 img{
    box-sizing: border-box;
    width: 375px;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .porttext2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 35px;
  }

  .porttext2{
    margin-top: 0;
    padding: 0;
    width: 300px;
  }

  .porttext2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 40px;
    text-align: left;
  }

  .container5{ 
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 300px;
    margin-left: -10px;
  }

  .story2{
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .story2 img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .storytext2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 35px;
  }

  .storytext2{
    margin-top: 0;
    padding: 0;
    width: 300px;
    margin-bottom: 10px;
  }

  .storytext2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 40px;
    text-align: left;
  }

  .container6{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  .about-1 img{
    margin-left: 10px;
  }

  .container7 {
    margin-top: 120px;
    width: 375px;
    position: absolute;
  }
  
  .contact-form{
    width: 375px;
    height: 760px;
  }
  .contact-form img{
    position: absolute;
    z-index: -1;
    width: 375px;
  }
  
  .c1 img{
    position: absolute;
    z-index: -1;
    margin-top: 30px;
    right: 0;
    width: 250px;
    height: 760px
  }
  
  .c2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    margin-top: 220px;
  } 
  
  .c2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
    top: 90px;
    margin-left: -350px;
  }
  
  .c2 p{
    width: 300px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    top: 170px;
    margin-left: -350px;
    
  }
  .c-form {
    width: 300px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 120px;
    flex-direction: column;
    text-align: center;
    top: 450px;
   
  }
  
  .form-group {
    width: 300px;
    margin-bottom: 20px;
    
  }

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  height: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-left: -180px;
}

.form-group button{
  margin-left: -220px;
}
}